body {
    font-family: Arial, sans-serif;
}

/* table, td, th {
    border: 1px solid black;
    width: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 10%;
  } */

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button.delete {
    background-color: #f44336;
}

label{
    font-weight: bold;
    margin: 10px;

}
  

     